  <!-- <app-footer [data]="maindata"></app-footer> -->
  <div class="panel">
    <div class="panel-body">

      <div class="demo1 col-sm-3 col-xs-3">
        <div data-toggle="modal" data-target="#squarespaceModal" (click)=edit() class="glyphicon glyphicon-pencil">
          <p class="edit">Edit</p>
        </div>

      </div>



      <div class="demo1 col-sm-3 col-xs-3">
        <div class="ionicons ion-archive">
          <p class="archive">Archive</p>
        </div>
          </div>

      <div class="demo1 col-sm-3 col-xs-3">
        <div class="ion-ios-list-outline">
          <p class="category">Category</p>
        </div>
      </div>


      <div class="demo1 col-sm-3 col-xs-3">
        <div class="ion-android-delete">
          <p class="delete">Delete</p>

        </div>
      </div>

     </div>
       <!-- <app-footer [piupObject]='maindata'></app-footer> -->
  </div>
